<%- include('../partials/header') %>
<form id="add-ticket-form" action="/tickets" method="POST">
	<label>Seat:</label>
	<input type="String" name="seat" />
	<label>Price:</label>
	<input type="number" name="price" />
	<input type="submit" value="Add Ticket" />
</form>

<!-- <table>
    <thead>
        <tr>
            <th>Ticket:</th>
            <th>Price:</th>
            <th>Flight:</th>
        </tr>
    </thead>
    <tbody>
        <% ticket.forEach(function(t) { %>
        <tr>
            <td><%= t.seat %></td>
            <td><%= t.price %></td>
            <td><%= t.flight %></td>
        </tr>
        <% }); %>
    </tbody>
</table> -->
<%- include('../partials/footer') %>
