<%- include('../partials/header') %>
<section>
    <div>Airline:</div>
    <div><%= flights.airline %></div>
    <div>Airport:</div>
    <div><%= flights.airport %></div>
    <div>Flight Number:</div>
    <div><%= flights.flightNo %></div>
    <div>Departure:</div>
    <div><%= flights.departs %></div>
</section>
<br /><br />
<h2>Destination</h2>
<form
    id="add-destination-form"
    method="POST"
    action="/flights/<%= flights._id %>/destinations"
>
    <label>Airport:</label>
    <select name="airport">
        <option selected value="DEN">DEN</option>
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
    </select>
    <label>Arrival<input type="datetime-local" name="arrival"/></label>
    <button type="submit" value="Add Destination"> Add Destination</button>
</form>
<table>
	<thead>
		<tr>
			<th>Airport</th>
			<th>Arrival</th>
		</tr>
	</thead>
	<tbody>
		<% flights.destination.forEach(function(destination) { %>
		<tr>
			<td><%= destination.airport %></td>
			<td><%= destination.arrival %></td>
		</tr>
		<% }); %>



<%- include('../partials/footer') %>