<%- include('../partials/header') %>
<section>
    <div>Airline:</div>
    <div><%= flights.airline %></div>
    <div>Airport:</div>
    <div><%= flights.airport %></div>
    <div>Flight Number:</div>
    <div><%= flights.flightNo %></div>
    <div>Departure:</div>
    <div><%= flights.departs %></div>
</section>
<br /><br />
<h2>Destinations</h2>
<form
    id="add-destination-form"
    method="POST"
    action="/flights/<%= flights._id %>/destination"
>
    <label>Destination:</label>
    <select name="airport">
        <option selected value="DEN">DEN</option>
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
    </select>
</form>




<%- include('../partials/footer') %>